<div style = "background-color: beige; text-align: center; height: 300px; width:  400px; border: 5px solid grey; border-radius: 10px;">

    <p>Hi <%= comment.user.name%>!</p>
    <br>
    <br>
    <p >Your comment <strong><%= comment.content %></strong> just got pubished on codeial.</p>
    <br>
    <p><img src="https://www.pixsy.com/wp-content/uploads/2021/04/ben-sweet-2LowviVHZ-E-unsplash-1.jpeg"   
        height="200px" width="200px" alt="w3resource logo" />This IS My Image</p>
    <br>
    <p>Thanks!</p>
</div>