
<link rel="stylesheet" href="/css/Sign_In.css">
<h1> Sign_In</h1>
<div class = "Sign-In_Container">
    <label > Name </label>
     <input type = "text" name = "name" placeholder = "Your Name" id = "name"></input> <br>
     <label > email</label>
     <input type = "email" name = "email" placeholder = "harish@gmail" id = "email"></input><br>
     <label > password </label>
     <input type = "password" name = "password" placeholder = "harish123" id = "password"></input>

</div>