<html>
    <head>
        <title> <%= title %></title>
        <link rel="stylesheet" href="/css/index.css">
       
    </head>
    <body>
  <h1> Hurry! . My Ejs dffis Work  fine</h1>
   <script rel="text/javascript" src="/js/index.js">

   </script>
    </body>
</html>