<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
  <h1> Let's Play With Ejs</h1>

<ul>
  <% for(let i = 0;i<9;i++){%>
  <li>
    <%=i%>
  
  <%}%>
  </li>
</ul>


    </body>
</html>